body {
    background-image: url() ;
    background-position: fixed;
    background-size: cover;
}

a {
    float: right;
    padding: 7px;
    color: rgb(15, 15, 15);
    font-size: 22px;
    border: 2px solid #0c0c0c;
    border-radius: 20px;

}

a:hover{
    background-color: #fff7f7;
    color:black;
    transform: scale(1.2);

}